@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
.header {
    border-bottom: 2px solid #00c9b7;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    font-family: 'Dancing Script', cursive;
    font-size: 1px !important;
}
.header-container {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.bg-light {

    background: #00c9b7 !important;
    -webkit-box-shadow: 5px 9px 43px 1px rgba(0,0,0,0.18);
    box-shadow: 5px 9px 43px 1px rgba(0,0,0,0.18);
    position: sticky;
    top: 0px;
    z-index: 10;
}
.bg-light > a {
    color: #fff !important;
}
.navbar-nav > a {
    color: #fff !important;
}
.navbar-nav > a:hover {
    text-decoration: underline;
}
img {
    height: 400px;
    vertical-align: middle;
    border-style: none;
}
body {
    background : #eee ;
}
.card-body {
    border : none !important;
    border-bottom: 3px solid #00c9b7 !important;
}
input[type=text] {

    background : #eee ;
    border: none !important;
    box-shadow: 0px 1px 1px #ddd !important;
    autocomplete: off;
}
input[type=text]:focus{
    background : #eee ;
    border: none !important;
    box-shadow: 0px 4px 5px #ccc !important;
}

.table .thead-light th {
    color : #fff !important;
    background: #00c9b7 !important;
    padding: 5px;
    margin: auto;

}
footer {
    height: 10px;
    width: 100%;
    margin-top: 60px;
    background:#00c9b7 ;
} 

.table td, .table th {
    padding: 1.0rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

@media (min-width: 968px) {
    .nav-tabs.nav-justified > li {
      display: table-cell;
      width: 1%;
    }
    .nav-tabs.nav-justified > li > a {
      margin-bottom: 0;
    }
  }
  .nav-tabs.nav-justified > li > a {
    margin-right: 0;
    border-radius: 4px;
  }
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border: 1px solid #ddd;
  }
  @media (min-width: 968px) {
    .nav-tabs.nav-justified > li > a {
      border-bottom: 1px solid #ddd;
      border-radius: 4px 4px 0 0;
    }
    .nav-tabs.nav-justified > .active > a,
    .nav-tabs.nav-justified > .active > a:hover,
    .nav-tabs.nav-justified > .active > a:focus {
      border-bottom-color: #fff;
    }
  }
  .nav-pills > li {
    float: left;
  }
  .nav-pills > li > a {
    border-radius: 4px;
  }
  .nav-pills > li + li {
    margin-left: 2px;
  }
  .nav-pills > li.active > a,
  .nav-pills > li.active > a:hover,
  .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #337ab7;
  }
  .nav-stacked > li {
    float: none;
  }
  .nav-stacked > li + li {
    margin-top: 2px;
    margin-left: 0;
  }
  .nav-justified {
    width: 100%;
  }
  .nav-justified > li {
    float: none;
  }
  .nav-justified > li > a {
    margin-bottom: 5px;
    text-align: center;
  }
  .nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
  }
  @media (min-width: 968px) {
    .nav-justified > li {
      display: table-cell;
      width: 1%;
    }
    .nav-justified > li > a {
      margin-bottom: 0;
    }
  }
  .nav-tabs-justified {
    border-bottom: 0;
  }
  .nav-tabs-justified > li > a {
    margin-right: 0;
    border-radius: 4px;
  }
  .nav-tabs-justified > .active > a,
  .nav-tabs-justified > .active > a:hover,
  .nav-tabs-justified > .active > a:focus {
    border: 1px solid #ddd;
  }